beautifulsoup4==4.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
gensim==3.8.0
jsonlines==1.2.0
matplotlib~=3.1.1
numpy~=1.18.0
pandas~=0.25.3
torch==1.5.0
scikit-learn==0.22.1
spacy~=2.2.4
torchvision==0.6.0
tqdm~=4.45.0
wikipedia2vec==1.0.4
